# Posgres
POSTGRES__DB=movies_database
POSTGRES__USER=app
POSTGRES__PASSWORD=123qwe
POSTGRES__HOST=127.0.0.1
POSTGRES__PORT=6500

SECRET_KEY=django-insecure-0%hoizw!72v&21^0#=rwrdv!#4jb!*dsh6m=p+evrr^j-anh6$
DEBUG=False
NOTIFY_APP__JWT_SECRET_KEY=someword
NOTIFY_APP__ALGORITHM=HS256
MONGO__HOST=127.0.0.1
MONGO__PORT=27017