POSTGRES__DB=movies_database
POSTGRES__USER=app
POSTGRES__PASSWORD=123qwe
SECRET_KEY=django-insecure-0%hoizw!72v&21^0#=rwrdv!#4jb!*dsh6m=p+evrr^j-anh6$
DEBUG=False
NOTIFY_APP__JWT_SECRET_KEY=someword
NOTIFY_APP__ALGORITHM=HS256
MONGO__HOST=mongos1
MONGO__PORT=27017

WORKER__SMTP__SERVER=smtp.mailosaur.net
WORKER__SMTP__PORT=465
WORKER__SMTP__USER=tg40ofbh@mailosaur.net
WORKER__SMTP__PASSWORD=4Yg7eNRojPjLbLS7

RABBITMQ__SERVER=127.0.0.1
RABBITMQ__PORT=5672
RABBITMQ__USER=rmuser
RABBITMQ__PASSWORD=rmpassword